@import "tailwindcss";

:root {
  --background: #f5ebdd;
  --foreground: #1a1a1a;

  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Poppins", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.heading-font {
  font-family: var(--font-heading);
}

.body-font {
  font-family: var(--font-body);
}